@model IEnumerable<NgCooking.DAL.Entities.Recette>

<div id="wrapper">
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="content" id="content_home">
                        <h1 class="page-title">Bienvenue sur NgCooking !</h1>
                        <section class="section">
                            <h2 class="title">~ Meilleures recettes ~</h2>
                            <div class="recettes row">
                                <div>
                                    @Html.Partial("_Meilleure_Recette")
                                </div>
                            </div>
                        </section>
                        <section class="section newrecette">
                            @Html.Partial("_New_Recette")
                        </section>
                        <section class="section">
                            <h2 class="title">~ Nouvelles recettes ~</h2>
                            <div class="recettes row">
                                <div>
                                    @Html.Partial("_Nouvelle_Recette")
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
